<div id="<%= dom_id enrollment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= enrollment.course.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= enrollment.student.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Grade:</strong>
    <%= enrollment.grade %>
  </p>

</div>
